{% extends "sherin_phreeqc/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}


{% block app_navigation_items %}

{% gizmo select_input select_basemap %}

{% gizmo select_input select_site %}

{% gizmo date_picker begin_date %}

{% gizmo date_picker end_date %}

{% gizmo button btnSearch %}

{% gizmo text_input xValue %}

{% gizmo button btnPhreeqc %}

<div id="result_loading"></div>

{% endblock %}


{% block app_content %}
  <p><strong>Instructions:</strong> Select data of interest or click the map.</p>



  <div class="col-md-4">
   {% gizmo map_view map_options %}
  </div>

 <div class="col-md-8" id="iutah-chart"></div>


 <p><strong>Note:</strong> This app uses python tools for
      <a href='http://wwwbrr.cr.usgs.gov/projects/GWC_coupled/phreeqc/' target="_blank">USGS Phreeqc program</a>:
   <a href='http://www.phreeqpy.com/' target="_blank">PhreeqcPy</a>.
 </p>

{% endblock %}

{% block scripts %}
<script src="{% static 'sherin_phreeqc/vendor/highcharts/highcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'ssherin_phreeqc/vendor/highcharts/exporting.js' %}" type="text/javascript"></script>
<script src="{% static 'sherin_phreeqc/vendor/highcharts/export-csv.js' %}" type="text/javascript"></script>
  {{ block.super }}
  <script src="{% static 'sherin_phreeqc/js/main.js' %}" type="text/javascript"></script>
      <script type="text/javascript"
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0">
     </script>
{% endblock %}